.profile{
    display: flex;
}
.profileRight{
    flex:9;
}
.profileRightBottom{
    display: flex;
}
.profileCover{
    height: 320px;
    position: relative;
}
.mess{
    margin: auto;
    position: relative;
    left: 19vw;
}
.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.nouser{
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20vh;
}
.name2{
    position: relative;
    top: 21vh;
    left: -18vw;
}
.emoji{
    position: relative;
    left: 1%;
    top: 10%;
    font-size: 70px;
}
.upphoto{
    display: flex;
    margin-left: 27%;
    width:400px;
    margin-top: 30px;
    justify-content: space-between;
}
.proftoast{
    position: relative;
    top: 46px;
    left: 128px;
    width: 226px;
    display: flex;
    justify-content: space-between;
}
.updateprof{
    width: 100%;
    margin-top: 12px;
    padding: 8px;
    border-radius: 10px;
    background: #0069d9;
    color: white;
    outline: none;
    border: none;
}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    border: 2px solid white;
    top: 150px;
    right: 0;
    margin: auto;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileInfoName{
    font-size: 24px;

}